.footer__wrapper {
  background-color: #38394f;
  margin-top: 35rem;
  padding-top: 10%;
  position: relative;
}

.options__panel {
  position: absolute;
  bottom: 82%;
  max-width: inherit;
  h3 {
    text-transform: capitalize;
    color: #38394f;
    font-size: 3rem;
    font-weight: 700;
  }
  .columns__wrapper {
    p {
      color: #38394f;
      font-size: 0.9rem;
      font-weight: 400;
    }

    .install__theme {
      background-color: white;
      strong {
        color: black;
      }
    }

    .showcase__container {
      background-color: #e5e5e5;
      box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
      strong {
        border-top: 4px solid #38af43;
        width: 33%;
      }
    }
  }

  ol {
    text-align: left;
    list-style-type: decimal-leading-zero;
    color: #b9bec7;
    font-size: 0.87rem;
    width: 25%;
    line-height: 2.25rem;
    cursor: pointer;
    li {
      font-weight: 700;
    }
    & > li:first-child {
      color: black;
      &::marker {
        color: #38af43;
      }
    }
  }
}

.footer__cta {
  padding-bottom: 5%;

  p {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.87rem;
    font-weight: 600;
    box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
    text-transform: capitalize;
  }
}
